[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mikelongxc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mikelongxc
	label-Verified = -1..+1 group user/mikelongxc
	push = group user/mikelongxc
	read = group user/mikelongxc
	rebase = group user/mikelongxc
	removeReviewer = group user/mikelongxc
	submit = group user/mikelongxc
[access "refs/heads/*"]
	create = group user/mikelongxc
	push = +force group user/mikelongxc
	pushMerge = group user/mikelongxc
	read = group user/mikelongxc
[access "refs/tags/*"]
	push = group user/mikelongxc
	push = +force group user/mikelongxc
